
@media (max-width: 1047px) {
  img.arrowvideo {
        position: absolute !important;
        margin-top: 24% !important;
        right: 1% !important;
        float: right !important;
        z-index: 1 !important;
        height: 10% !important;
        top:0% !important;
    }
  .imagemproduto {
      float: right !important;
      position: relative !important;
      width: 20% !important;
      margin-bottom: 20px !important;
      top: -85px !important;
      left: -6% !important;
  }
  .imagemproduto1 {
      float: right;
      position: relative;
      width: 20%;
      /* margin-bottom: 20px !important; */
      top: -35px;
      left: 14%;
  }
  .panel-body img{

    margin-top: 10px;
    margin-bottom: 10px;}
  ul.nav.navbar-nav.navbar-right {
    font-size: 10px !important;
}
.overview .overview-wrapper-content {
    position: relative;
    float: left;
    padding: 1% 6%;
}

section.slideshow {
    height: 0vh !important;
}
}
@media (max-width: 862px) {
  ul.nav.navbar-nav.navbar-right {
    font-size: 9px !important;
}
}

@media (max-width: 800px) {

  ul.nav.navbar-nav.navbar-right {
      font-size: 10px !important;
      display:none;
  }
.mobileheader{
  display:none;

}

}
@media (max-width: 767px) {

}

@media (max-width: 430px) {
  .imagemproduto1 {
      float: right;
      position: relative;
      width: 20%;
      /* margin-bottom: 20px !important; */
      top: -35px;
      left: -6%;
  }
}
